* {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 36px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
}

/* header and nav style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.hdr {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);

    background-repeat: no-repeat;
    background-position: bottom right, left;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 51px;
}

/* banner style */
.banner {
    position: flex;
    margin: 0 200px;
    display: inline-flex;
    align-items: center;
}

.banner-title {

    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.b-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    justify-content: center;
    margin: 0 auto;
}

section {
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

/* about section */
.about {

    background: #f8eee7;
    border-radius: 10px;
    padding: 130px 155px;
    font-weight: 700;
    font-size: 35px;
}

.section-title {

    margin-bottom: 50px;
}

.s-descr {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    text-align: center;
}

.about-info {
    text-align: center;
}

.info-descr {

    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do content */
.what-i-do {
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
    width: fit-content;
}

.kill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.sikll-descr {
    color: #757575;
    font-size: 16px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 30px;
}

/* resume-title */
.resume-content {
    display: flex;
    text-align: left;
    gap: 24px;
}

.re-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.resume .a-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

.r-item {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 0px;
}

.hrz-line {
    border: 1px solid #D1D1D1;
}

.r-button {
    margin-top: 50px;
}

/* contact */
.contact {
    display: flex;
    text-align: left;
    gap: 100px;
    background-color: #f8ebe2;
    padding: 130px 230px;
}

.contact .contact-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: left;
}

.contact .c-details {
    color: #474747;
    font-size: 16px;
}
.contact input[type="text"], input[type="email"], textarea{
margin-bottom: 24px;
border: none;
width: 100% ;padding: 18px 30px;

}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
gap: 10px;
}